<% provide(:title, "Edit User") %>

<h1>Update Profile</h1>

<div class ="row">
	<div class="span6 offset3">
		<%= form_for(@profile, multipart: true) do |f| %>
		
			<%= f.label "First name: " %>
			<%= f.text_field :first_name %>

			<%= f.label "Last name: "%>
			<%= f.text_field :last_name %>

			<%= f.label "Birth Date: " %>
			<%= f.date_field :birthday %>

			<%= f.label "Bio: " %>
			<%= f.text_area :bio %>

			<%= f.label "Profile pic: " %>
			<%= f.file_field :avatar %>

			<%= f.submit "Save changes", class:"btn btn-large btn-primary" %>

		<% end %>
	</div>  
</div>