<div class ="row">
	<div class="span6 offset3">
		<h3>Welcome <%= @profile.first_name @profile.user.email %>
		<%= @profile.last_name %> </h3>
		<p>Born: <%= @profile.birthday %></p>
		About: <%= @profile.bio %>
		<% if current_user == @user %>
			<div>
			<%= link_to "Edit profile", edit_profile_path, class:"btn btn-large"%>
			</div>
		<% end %>
		<div>
			<%= render 'users/followstats' %>
		</div>
	</div>
</div>