<h2><%= link_to "Home", root_url %></h2>

<%= link_to "Add a link", new_link_path %>

<%= will_paginate @links %>

<ul>
  <% @links.each do |link| %>
    <li><%= link.title %>
    <%= link.votes.count %>
    <% if current_user && current_user.votes.where(:link_id => link.id).present? %>
    *
    <% else %>
    	<%= link_to "+", votes_path(:vote => {:link_id => link.id}), :method => :post %>
    <% end %>
    <a href=<%=link.url%>> <%= link.url%></a>
    </li>
  <% end %>
</ul>

<%= will_paginate @links %>
