<div class="row-fluid">

 <!-- data-spy="affix" data-offset-top="000"  -->
<div class="span1 offset1" id="sidebar">
    <% if can? :create, Link %>
        <%= link_to "Add a link", new_link_path %> <br/>
    <% end %>
    <%= link_to "Search", search_path %>
</div>

<div class="span8">


<ul class= "thumbnails">
  <% @links.each do |link| %>
    <li class="span3">
    <p class="thumbnail_heading">
        <strong class="thumbnail_title"><%= link.title %> <%= render 'links/saveform', :link => link %></strong>

        <span id="vote_count_<%= link.id %>">
            <strong><%= link.votes.count %></strong>
        </span>

        <span id= "upvote_<%= link.id %>">
            <% if current_user && current_user.votes.where(:link_id => link.id).present? %>
            
                <!-- <%= link_to "-", vote_path(:id => current_user.id, :vote => {:link_id => link.id, :user_id => current_user.id}), :method => :delete, remote: true %> -->
            <% else %>
                <%= link_to "<i class='icon-arrow-up'></i>".html_safe, votes_path(:vote => {:link_id => link.id}), :method => :post, remote: true %>
            <% end %>
        </span>
    </p>
    <div class="thumbnail_image">
    <%= link_to image_tag(link.image.url),  link_path(link)%>
    </div>


    <!-- <a href=<%=link.url%>> <%= link.url%></a> -->
    By:
    <% if link.user %>
    <%= link_to link.user.email, profile_path(link.user.profile) %>
    <% end %>
    </li>
  <% end %>
</ul>
    <%= will_paginate @links %>
</div>

</div>